In [1]:
import pandas as pd

jane_data = pd.read_csv('train.csv')
jane_data.head(10)

,date,weight,resp_1,resp_2,resp_3,resp_4,resp,feature_0,feature_1,feature_2,...,feature_121,feature_122,feature_123,feature_124,feature_125,feature_126,feature_127,feature_128,feature_129,ts_id
0,0,0.000000,0.009916,0.014079,0.008773,0.001390,0.006270,1,-1.872746,-2.191242,...,NaN,1.168391,8.313583,1.782433,14.018213,2.653056,12.600292,2.301488,11.445807,0
1,0,16.673515,-0.002828,-0.003226,-0.007319,-0.011114,-0.009792,-1,-1.349537,-1.704709,...,NaN,-1.178850,1.777472,-0.915458,2.831612,-1.417010,2.297459,-1.304614,1.898684,1
2,0,0.000000,0.025134,0.027607,0.033406,0.034380,0.023970,-1,0.812780,-0.256156,...,NaN,6.115747,9.667908,5.542871,11.671595,7.281757,10.060014,6.638248,9.427299,2
3,0,0.000000,-0.004730,-0.003273,-0.000461,-0.000476,-0.003200,-1,1.174378,0.344640,...,NaN,2.838853,0.499251,3.033732,1.513488,4.397532,1.266037,3.856384,1.013469,3
4,0,0.138531,0.001252,0.002165,-0.001215,-0.006219,-0.002604,1,-3.172026,-3.093182,...,NaN,0.344850,4.101145,0.614252,6.623456,0.800129,5.233243,0.362636,3.926633,4
5,0,0.000000,-0.001047,-0.002700,0.000743,0.004667,0.001282,-1,-1.499681,-1.928023,...,NaN,0.337112,4.079450,0.613967,6.622410,0.799525,5.231833,0.360831,3.922324,5
6,0,0.190575,-0.001939,-0.002301,0.001088,0.005963,0.000709,-1,-3.172026,-3.093182,...,NaN,0.336873,4.076447,0.614783,6.622176,0.800618,5.231595,0.361506,3.921714,6
7,0,3.820844,0.017395,0.021361,0.031163,0.036970,0.033473,-1,0.446050,-0.466210,...,NaN,2.101997,4.846202,1.479875,5.261328,2.305066,4.571762,2.201537,4.429745,7
8,0,0.116557,-0.005460,-0.007301,-0.009085,-0.003546,-0.001677,1,-3.172026,-3.093182,...,NaN,1.537913,4.785838,1.637435,6.968002,2.354338,5.825499,1.778029,4.740577,8
9,0,0.160117,0.005976,0.004345,0.023712,0.035360,0.020317,1,2.744408,1.412127,...,NaN,1.796860,3.177064,0.999252,2.906432,1.589816,2.435999,1.472419,2.245991,9

In [2]:
jane_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2390491 entries, 0 to 2390490
Columns: 138 entries, date to ts_id
dtypes: float64(135), int64(3)
memory usage: 2.5 GB

In [3]:
jane_data.describe()

,date,weight,resp_1,resp_2,resp_3,resp_4,resp,feature_0,feature_1,feature_2,...,feature_121,feature_122,feature_123,feature_124,feature_125,feature_126,feature_127,feature_128,feature_129,ts_id
count,2.390491e+06,2.390491e+06,2.390491e+06,2.390491e+06,2.390491e+06,2.390491e+06,2.390491e+06,2.390491e+06,2.390491e+06,2.390491e+06,...,2.320637e+06,2.390268e+06,2.390268e+06,2.374408e+06,2.374408e+06,2.381638e+06,2.381638e+06,2.388570e+06,2.388570e+06,2.390491e+06
mean,2.478668e+02,3.031535e+00,1.434969e-04,1.980749e-04,2.824183e-04,4.350201e-04,4.083113e-04,9.838565e-03,3.855776e-01,3.576875e-01,...,2.687757e-01,3.435523e-01,2.799973e-01,3.351537e-01,2.448752e-01,3.391778e-01,2.323809e-01,3.425608e-01,2.456182e-01,1.195245e+06
std,1.522746e+02,7.672794e+00,8.930163e-03,1.230236e-02,1.906882e-02,3.291224e-02,2.693609e-02,9.999518e-01,2.559373e+00,2.477335e+00,...,2.174238e+00,2.087842e+00,1.977643e+00,1.742587e+00,2.242853e+00,2.534498e+00,1.795854e+00,2.307130e+00,1.765419e+00,6.900755e+05
min,0.000000e+00,0.000000e+00,-3.675043e-01,-5.328334e-01,-5.681196e-01,-5.987447e-01,-5.493845e-01,-1.000000e+00,-3.172026e+00,-3.093182e+00,...,-7.471971e+00,-5.862979e+00,-6.029281e+00,-4.080720e+00,-8.136407e+00,-8.215050e+00,-5.765982e+00,-7.024909e+00,-5.282181e+00,0.000000e+00
25%,1.040000e+02,1.617400e-01,-1.859162e-03,-2.655044e-03,-5.030704e-03,-9.310415e-03,-7.157903e-03,-1.000000e+00,-1.299334e+00,-1.263628e+00,...,-1.123252e+00,-1.114326e+00,-9.512009e-01,-9.133750e-01,-1.212124e+00,-1.452912e+00,-8.993050e-01,-1.278341e+00,-8.544535e-01,5.976225e+05
50%,2.540000e+02,7.086770e-01,4.552665e-05,6.928179e-05,1.164734e-04,1.222579e-04,8.634997e-05,1.000000e+00,-1.870182e-05,-7.200577e-07,...,0.000000e+00,7.006233e-17,6.054629e-17,4.870826e-17,-2.558675e-16,1.015055e-16,5.419920e-17,8.563069e-17,4.869529e-17,1.195245e+06
75%,3.820000e+02,2.471791e+00,2.097469e-03,2.939111e-03,5.466336e-03,9.804649e-03,7.544347e-03,1.000000e+00,1.578417e+00,1.526399e+00,...,1.342829e+00,1.405926e+00,1.308625e+00,1.228277e+00,1.409687e+00,1.767275e+00,1.111491e+00,1.582633e+00,1.125321e+00,1.792868e+06
max,4.990000e+02,1.672937e+02,2.453477e-01,2.949339e-01,3.265597e-01,5.113795e-01,4.484616e-01,1.000000e+00,7.442989e+01,1.480763e+02,...,1.107771e+02,4.812516e+01,1.276908e+02,6.514517e+01,7.052807e+01,5.872849e+01,6.932221e+01,5.119038e+01,1.164568e+02,2.390490e+06

In [124]:
def data_preprocessing(jane_street_data, test_size=0.2, random_state=42, na_values='delete', if_log = True, if_standard=True, if_process_labels=False):
    #Three options for na_values: 'delete', 'zero', or 'mean'.
    #if_log will not log normalize the data except for data and feature_0
    #if_process_labels will log and standardize the labels
    import math
    from sklearn.model_selection import train_test_split
    
    print('Now in preprocessing...')
    
    
    #Process NA values
    if na_values == 'delete':
        jane_street_data.dropna(inplace=True)
        
    elif na_values == 'zero':
        jane_street_data.fillna(0, inplace=True)
        
    elif na_values == 'mean':
        for column in list(jane_street_data.columns[jane_street_data.isnull().sum() > 0]):
            mean_val = jane_street_data[column].mean()
            jane_street_data[column].fillna(mean_val, inplace=True)
    
    else: print('Error: unexpected na_values input')
    
    
    #Logrithm normalization
    def log_norm_helper(x,log_bias=1):
        if x>=0:
            return math.log(x+log_bias)
        else:
            return -math.log(abs(x)+log_bias)
    
    if if_log:
        
        for column in jane_street_data.columns.tolist():
            
            if (not(column in ['date', 'feature_0','ts_id' ])):
                if if_process_labels:
                    jane_street_data[column] = jane_street_data[column].apply(log_norm_helper)
                    
                elif (not(column in ['resp_1', 'resp_2', 'resp_3', 'resp_4', 'resp'])):
                        jane_street_data[column] = jane_street_data[column].apply(log_norm_helper)
    
    
    #Split training set and evaluation set
    labels = jane_street_data[['resp_1', 'resp_2', 'resp_3', 'resp_4', 'resp']].copy()
    features = jane_street_data.drop(['resp_1', 'resp_2', 'resp_3', 'resp_4', 'resp'],axis=1)
    features_train, features_test, labels_train, labels_test = train_test_split(features, labels, test_size=test_size, random_state=random_state)
    
    
    #Standardization
    def standard_helper(x, mean, std):
        return (x-mean)/std if (std!=0) else x-mean       
    
    if if_standard:
        feature_mean = features_train.mean()
        feature_std = features_train.std()
        
        for column in features_train.columns.tolist():
            features_train.loc[:,column] = features_train[column].apply(standard_helper, mean=feature_mean[column], std=feature_std[column])
            features_test.loc[:,column] = features_test[column].apply(standard_helper, mean=feature_mean[column], std=feature_std[column])
            
        if if_process_labels:
            label_mean = labels_train.mean()
            label_std = labels_train.std()
            
            for column in labels_train.columns.tolist():
                labels_train[column] = labels_train[column].apply(standard_helper, mean=label_mean[column], std=label_std[column])
                labels_test[column] = labels_test[column].apply(standard_helper, mean=label_mean[column], std=label_std[column])

    print('Done in preprocessing!')

                
    return  features_train, features_test, labels_train, labels_test

In [125]:
def train_evaluate(features_train, features_test, labels_train, labels_test, model='lasso',alpha=1):
    #Three options for model: 'linear', 'ridge', 'lasso'
    
    from sklearn.model_selection import train_test_split
    from sklearn.linear_model import LinearRegression, Lasso,Ridge
    from sklearn.metrics import mean_squared_error, mean_absolute_error,r2_score
    import numpy as np

    
    if model=='lasso':
        lin_reg = Lasso(alpha=alpha)
    elif model =='Ridge':
        lin_reg = Ridge(alpha=alpha)
    elif model =='linear':
        lin_reg = LinearRegression()
    else: print('Error: unexpected model input')
        
    
    print('Now in trianing...')
    lin_reg.fit(features_train, labels_train)
    print('Done in trianing!')
    
    print('Now in prediction...')
    predictions = lin_reg.predict(features_test)
    print('Done in prediction!')

        
    rmse = np.sqrt(mean_squared_error(np.array(labels_test),predictions))
    mae = mean_absolute_error(np.array(labels_test),predictions)
    r_2 = r2_score(np.array(labels_test),predictions)
    
    return rmse, mae, r_2

In [126]:
sample = jane_data[jane_data.date <= 10]

In [127]:
features_train, features_test, labels_train, labels_test = data_preprocessing(sample)
rmse, mae, r_2 = train_evaluate(features_train, features_test, labels_train, labels_test)
print('rmse:', rmse)
print('mae:', mae)
print('r_2:',r_2)

Now in preprocessing...

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
D:\Anaconda\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

Done in preprocessing!
Now in trianing...
Done in trianing!
Now in prediction...
Done in prediction!
rmse: 0.022309198754355854
mae: 0.011917988438830397
r_2: -1.5003399413737739e-05

In [123]:
labels_test

         resp_1    resp_2    resp_3    resp_4      resp
45105  0.000109  0.000040  0.000829  0.001542  0.000610
37951  0.011557  0.012993 -0.000250 -0.002069  0.011113
41902 -0.000638 -0.000775 -0.005737 -0.002152  0.001521
62194  0.016091  0.016091  0.016091  0.016102  0.016102
14818 -0.000681 -0.000681 -0.000040  0.001716  0.000403
...         ...       ...       ...       ...       ...
59703  0.003568  0.004556  0.006347  0.007607  0.006845
51187 -0.033581 -0.046057 -0.058470 -0.121348 -0.105099
46310  0.002781  0.005185  0.006144  0.003809  0.005811
53661 -0.007466 -0.014771 -0.029967 -0.062850 -0.057898
38007 -0.002371 -0.001968 -0.010290 -0.017095 -0.005154

[11318 rows x 5 columns]